.row {
  --gutter-x: 24px;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
  > * {
    @include make-col-ready();
  }
  &.gutter-y {
    --gutter-y: var(--gutter-x);
  }
  &.gutter-y-lg {
    --gutter-y: 50px;
  }

  @include md {
    --gutter-x: 20px;
    &.gutter-y-lg {
      --gutter-y: 30px;
    }
  }
  @include sm {
    --gutter-x: 16px;
    &.gutter-y-lg {
      --gutter-y: 20px;
    }
  }
  @include xs {
    --gutter-x: 12px;
  }
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include make-col($i, $grid-columns);
  }
}

@include make-grid-columns();

// end utility grid
