@include keyframes(moveTop) {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(bounceY) {
  0% {
    @include transform(scaleY(0.1));
  }
  40% {
    @include transform(scaleY(1.04));
  }
  60% {
    @include transform(scaleY(0.98));
  }
  80% {
    @include transform(scaleY(1.04));
  }
  100% {
    @include transform(scaleY(0.98));
  }
  80% {
    @include transform(scaleY(1.02));
  }
  100% {
    @include transform(scaleY(1));
  }
}
