@-ms-viewport {
  width: device-width;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  @include customscroll();
}
html {
  font-size: 62.5%; // => 10px = 1rem
}
body {
  width: 100%;
  max-width: $container-max-width;
  margin: auto;
  @include text(mm, var(--body16-fs), var(--body16-lh), $text-clr); // tuỳ chỉnh
  background: $bg-main;
  position: relative;
  overflow-x: hidden;
  touch-action: pan-y;
  scroll-behavior: smooth;
  letter-spacing: 0.005em;
  &.is-scroll {
    --height-header: 80px;
    @include sm {
      --height-header: 60px;
    }
  }
  &.modal-is-show,
  &.menu-is-show,
  &.popup-is-show {
    overflow: hidden;
  }
  &.menu-is-show {
    main {
      @include transform(translateX(50px));
    }
  }
  .pt-sc,
  .py-sc {
    padding-top: var(--padding-section);
  }
  .pb-sc,
  .py-sc {
    padding-bottom: var(--padding-section);
  }
  .pt-large,
  .py-large {
    padding-top: var(--p-large);
  }
  .pb-large,
  .py-large {
    padding-bottom: var(--p-large);
  }
  .container,
  .container-fluid {
    @include make-container();
  }
  .container-fluid {
    @include sm {
      padding-right: calc(var(--gap) / 2);
      padding-left: calc(var(--gap) / 2);
    }
  }

  @media (min-width: $xs-min) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: $sm-min) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: $md-min) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: $lg-min) {
    .container {
      max-width: $container-width;
    }
  }

  main {
    width: 100%;
    margin: auto;
    @include visible;
    @include transition(all $t2 $cubic);

    section {
      position: relative;
    }
  }
  @include xl {
    // CSS responsive large desktop
  }
  @include lg {
    // CSS responsive  desktop
  }
  @include md {
    // CSS responsive tablet
  }
  @include sm {
    // CSS responsive mobile
  }
  @include xs {
    // CSS responsive small mobile
  }
  @include xxs {
    // CSS responsive smallest mobile
  }
}
