//======================================================BOXED LAYOUT=======================================================

$container-max-width: 100%;
$container-width: 1230px;

/*GRID - media queries breakpoints*/
$xxs-min: 376px;
$xs-min: 576px; // CÓ THỂ TÙY CHỈNH
$sm-min: 768px; // KHÔNG THAY ĐỔI
$md-min: 992px; // KHÔNG THAY ĐỔI
$lg-min: 1200px; // KHÔNG THAY ĐỔI
$xl-min: 1400px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Smallest Mobile
$xs-max: ($xs-min - 1); // Small Mobile
$sm-max: ($sm-min - 1); // Mobile
$md-max: ($md-min - 1); // Tablet
$lg-max: ($lg-min - 1); // Desktop
$xl-max: ($xl-min - 1); // Large Desktop

$grid-columns: 12;
$grid-breakpoints: (
  "xxs": $xxs-min,
  "xs": $xs-min,
  "sm": $sm-min,
  "md": $md-min,
  "lg": $lg-min,
  "xl": $xl-min,
);
//=====================================CÁC BIẾN KHÔNG THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE======================================

// colors - tuỳ chỉnh
$bg-main: #fff;
$white-cl: #fff;
$black-cl: #000;

$primary: #526b3e;
$primary-sub: #7eab4f;
$primary-light: #d8e5ae;
$secondary: #c93d37;
$secondary-sub: #d4453d;
$secondary-light: #e8a5aa;

$bg-input-primary: rgba($primary, 0.2);
$bg-input-white: rgba($white-cl, 0.2);

$text-clr: #444;

// theme colors
$theme-colors: (
  "white": $white-cl,
  "black": $black-cl,
  "primary": $primary,
);
// base-radius
$base-radius: 8px;
$base-radius-md: 16px;
$base-radius-lg: 24px;
$base-radius-xl: 32px;

// gradient
$gradient-header: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.5) 2.18%,
  rgba(0, 0, 0, 0) 100%
);
$gradient-footer: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0) 91.15%
);

// timing transition - tuỳ chỉnh
$t: 0.4s;
$t2: 0.6s;
$cubic: cubic-bezier(0.61, 0.22, 0.23, 1);

// spacerG
$space: 4px;

// shadow
$shadow: 4px 4px 30px rgba(0, 0, 0, 0.08);

// grid
$grid-gutter-width: 1.2rem;

// ========================================CÁC BIẾN CÓ THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE=====================================

:root {
  // font-size & line-height heading

  --h-large-lh: 6.4rem;
  --h-large-lh: 1.2;

  --h1-fs: 4.8rem;
  --h1-lh: 1.2;

  --h2-fs: 4rem;
  --h2-lh: 1.2;

  --h3-fs: 3.6rem;
  --h3-lh: 1.2;

  --h4-fs: 3.2rem;
  --h4-lh: 1.2;

  --h5-fs: 2.4rem;
  --h5-lh: 1.2;

  --h6-fs: 2rem;
  --h6-lh: 1.2;

  --body16-fs: 1.6rem;
  --body16-lh: 1.5;

  --body14-fs: 1.4rem;
  --body14-lh: 1.5;

  // Genaral Variable

  --container-padding-x: 30px;
  --height-header: 100px;
  --height-button: 48px;
  --p-large: 120px;
  --padding-section: 100px;

  @media (max-width: $md-max) {
    // Tablet

    --h1-fs: 4rem;

    --h2-fs: 3.6rem;

    --h3-fs: 3rem;

    --h4-fs: 2.8rem;

    --h5-fs: 2rem;

    --h6-fs: 1.8rem;
    --p-large: 100px;
  }
  @media (max-width: $sm-max) {
    // Mobile
    --h1-fs: 3.6rem;

    --h2-fs: 2.8rem;

    --h3-fs: 2.2rem;

    --h4-fs: 2rem;

    --h5-fs: 1.8rem;

    --h6-fs: 1.6rem;

    --container-padding-x: 20px;
    --height-header: 70px;
    --p-large: 70px;
    --pd-section: 50px;
    --body16-fs: 1.5rem;
  }
  @media (max-width: $xs-max) {
    --h1-fs: 3.2rem;
    --body16-fs: 1.4rem;
    --body14-fs: 1.3rem;
    --height-button: 40px;
    --p-large: 60px;
    --pd-section: 40px;
  }
  @media (max-width: $xxs-max) {
    --h1-fs: 2.8rem;
  }
  @media (max-width: 200px) {
    --h1-fs: 2.4rem;
  }
}
